.main-container {
    max-width: 1444px;
    margin: 0 auto;
}

a {
    color: black;
}
.annoucements {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    background-color: lightgreen;

}

.annoucements span {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    max-width: 60%;
    text-align: center;
    font-size: 19;
    font-weight: 500;
    line-height: 1.75;
}

.left-right-section {
    display: flex;
    background-color:#f1f8f6;
    height: 500px;
}

.left-right-section .text {
    width: 50%;
    color: #1e3932;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 48px;
}

.left-right-section .image {
    width: 50%;
    height: 420px;
}

.left-right-section .image img {
    height: 100%;
}

.text h1, .text h3 {
    margin: 0;
    font-weight: 400;
}

.text h1 {
    margin-bottom: 24px;
}

.text h3 {
    margin-bottom: 34px;
}

.text .cta {
    padding: 7px 16px;
    border: 1px solid;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    color: #1e3932;
    transition: all 0.2s ease;
}

.text .cta:hover {
    background-color: rgb(187, 187, 187);
}


